

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: ghostwhite;
    background-color: black;
    text-align: center;
    font-size: 2em;
    padding: 10px;
}

#jadePic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border-width: 1px;
    border-color: black;
}

h5 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: ghostwhite;
    background-color: black;
    text-align: center;
    font-size: 1em;
    font-weight: lighter;
    padding: 10px;
    margin-bottom: 20px;
}

.introduction {
    background-color: black;
}

ul {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 8px;
    background-color: black;
    text-align: center;
}

li {
    display: inline;
    color: ghostwhite;
    
}

a {
    padding: 8px;
    background-color: black;
    color: ghostwhite;
}

li a:hover {
    background-color: darkgrey;
  }

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: ghostwhite;
    background-color: rgb(40, 27, 56);
    padding: 20px;
    border-color: ghostwhite;
    width: 500px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;

}

.info {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: ghostwhite;
    text-align: center;
    background-color: black;
    padding: 5px;
}

footer {
    color: ghostwhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 30px; 
    margin-right: 30px;
    font-size: 1.18em;
    font-weight: lighter;
    padding: 1px;
}
#contactMe {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
}

.heading {
    text-decoration: underline;
    font-size: 1.20em;
}
.job {
    text-decoration: underline;
    font-size: 1.25em;
}

.contactForm {
    margin-left: 20px;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 300px;
}

.submitButton {
    padding: 5px;
    color: white;
    background-color: rgb(40, 27, 56);
}
