

h6 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: ghostwhite;
    background-color: black;
    text-align: center;
    font-size: medium;
    padding: 10px;
    padding-top: 4px;
    margin-top: 0%;
}


h5 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: ghostwhite;
    background-color: black;
    text-align: center;
    font-size: 1em;
    font-weight: lighter;
    padding: 10px;
    margin-bottom: 20px;
}

.introduction {
    background-color: black;
}

/*Navigation bar*/
li {
    display: inline;
    color: ghostwhite;  
}

a {
    padding: 8px;
    background-color: black;
    color: ghostwhite;
}

li a:link {
    color: whitesmoke
}

li a:visited {
    color: white;
}

li a:hover {
    color: gray;
    text-decoration: underline;
}

li a:active {
    color: ghostwhite;
    text-decoration: underline;

}

.info {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: ghostwhite;
    text-align: center;
    background-color: black;
    padding: 5px;
}

#Interests {
    padding-bottom: 5px;
}

footer {
    color: ghostwhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.18em;
    font-weight: lighter;
    padding: 25px;
    margin-left: 15%;
    margin-right: 15%;
}

#contactMe {
    margin-left: 20%;
}

.heading {
    text-decoration: underline;
    font-size: 1.20em;
}

.job {
    text-decoration: underline;
    font-size: 1.25em;
}

form {
    margin-bottom: 20px;
    width: 300px;
}

.submitButton {
    padding: 5px;
    color: white;
    background-color: rgb(40, 27, 56);
}

/*Responsive Design*/

/*Desktop*/
@media only screen and (max-width: 3000px){
#jadeResumePic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border-width: 1px;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: ghostwhite;
    background-color: black;
    text-align: center;
    font-size: 2em;
    padding: 10px;
    padding-bottom: 4px;
    margin-bottom: 0%;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: ghostwhite;
    padding: 20px;
    border-color: ghostwhite;
    width: 500px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(40, 27, 56);
}

ul {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 15px;
    background-color: black;
    text-align: center;
}

}


/*Laptop*/
@media only screen and (max-width: 1200px){
#jadeResumePic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border-width: 1px;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: ghostwhite;
    background-color: black;
    text-align: center;
    font-size: 2em;
    padding: 10px;
    padding-bottom: 4px;
    margin-bottom: 0%;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: ghostwhite;
    padding: 20px;
    border-color: ghostwhite;
    width: 700px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(40, 27, 56);
}

ul {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 15px;
    background-color: black;
    text-align: center;
    font-size: larger;
}

}

/*Tablet*/
@media only screen and (max-width: 800px){
#jadeResumePic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-width: 1px;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: ghostwhite;
    background-color: black;
    text-align: center;
    font-size: 2.5em;
    padding: 5px;
    padding-bottom: 4px;
    margin-bottom: 0%;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: ghostwhite;
    padding: 20px;
    border-color: ghostwhite;
    width: 500px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(40, 27, 56);
}

ul {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 15px;
    background-color: black;
    text-align: center;
}

}

/*Moblile*/
@media only screen and (max-width: 400px){
#jadeResumePic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-width: 1px;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: ghostwhite;
    background-color: black;
    text-align: center;
    font-size: 2.80em;
    padding: 10px;
    padding-bottom: 4px;
    margin-bottom: 0%;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: ghostwhite;
    padding: 20px;
    border-color: ghostwhite;
    width: 500px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(40, 27, 56);
}

ul {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 15px;
    background-color: black;
    text-align: center;
}

}